<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="/style.css">
    <title>YouTube to MP3 Converter & Downloader by SwarLok</title>
</head>

<body>
    <div class="top-container">

        <div class="left">
            <div class="logo">
                <a href="/home">
                    <img width="100" class="invert" src="img/pageLogo.png" alt="SwarLok Logo">
                </a>
            </div>
        </div>

        <form action="ytconvert-mp3" method="POST" id="form">
            <h1><i class="fab fa-youtube"></i>YouTube to MP3 Converter & Downloader</h1>
            <h4>Enter the video ID</h4>


            <div>
                <input type="text" name="videoID" placeholder="Video ID"><button id="convert-btn">Convert</button>
            </div>
        </form>
    </div>
    <div class="bottom-container">
        <% if(typeof success !="undefined" && success) { %>
            <div class="success">
                <p>
                    <%= song_title %>
                </p>
                <a href="<%= song_link %>" download><button id="download-btn">DOWNLOAD</button></a>
            </div>
            <% } else if(typeof success !="undefined" && !success) { %>
                <div class="errors">
                    <p>
                        <%= message %>
                    </p>
                </div>
                <% } %>
    </div>



</body>

</html>
